.socialLinksSection {
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: row;
  // margin-top: 2rem;
  // z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  // border-radius: 15rem 15rem;
  align-items: center;
  place-content: center;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  z-index: 20;
}