
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  // padding-left: 1rem;   /* px-4 */
  // padding-right: 1rem;  /* px-4 */

//   /* sm:px-6 */
//   @media (min-width: 640px) {
//     padding-left: 1.5rem;
//     padding-right: 1.5rem;
//   }

//   /* lg:px-8 */
//   @media (min-width: 1024px) {
//     padding-left: 2rem;
//     padding-right: 2rem;
//   }
}

.container {
  max-width: 1280px; /* Equivalent to 'container' in Tailwind */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;    /* py-4 */
  padding-bottom: 1rem; /* py-4 */
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;

  a {
    color: #FFFAFA;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;

    &.active {
      color: #89D6E8;
      text-decoration: underline 4px;
      text-decoration-color: #FFF204;
      text-underline-offset: 5px;
    }
  }
}

.navLink {
  padding-bottom: 0.25rem; /* pb-1 */
  text-transform: capitalize;
  color: var(--snow);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #89D6E8;
  }

  /* This is the modifier class for the active link */
  &.active {
    color: var(--light-blue);
    border-bottom: 2px solid var(--yellow-underline);
  }
}